@model Movie

<h2>Create Movie</h2>

<form method="post" action="Create" enctype="multipart/form-data">
    <div class="coolinput">
        <label for="Title" class="text">Title</label>
        <input placeholder="Write film title..." type="text" name="Title" required class="input" />
    </div>
    <div class="coolinput">
        <label for="Producer" class="text">Producer</label>
        <input placeholder="Write film producer..." type="text" name="Producer" required class="input" />
    </div>
    <div class="coolinput">
        <label for="Genre" class="text">Genre</label>
        <input placeholder="Write film genre..." type="text" name="Genre" required class="input" />
    </div>
    <div class="coolinput">
        <label for="Year" class="text">Year</label>
        <input placeholder="Write film year..." type="number" name="Year" required class="input" />
    </div>
    <div class="starsinput">
        <label for="Stars">Stars</label>
        <input class="stars" type="range" max="5" min="1" value="1" name="Stars" required />
    </div>
    <div class="coolinput">
        <label class="text" for="Description">Description</label>
        <textarea class="input" name="Description" required></textarea>
    </div>
    <div class="imageinput">
        <label for="ImageFile">Image</label>
        <input accept="image/png, image/jpeg, image/gif, image/webp" type="file" name="ImageFile" required />
    </div>
    <div>
        <input class="createbutton" type="submit" value="Create" />
    </div>
</form>
