@model List<Message>

@if (ViewBag.User != null)
{
    <div style="margin-bottom: 25px">
        Welcome back, @ViewBag.User!
    </div>
}

<h2>Messages</h2>
<div class="messagescontainer">
    @foreach (var message in Model)
    {
        <div class="message">
            <div class="messageusername">@message.UserName</div>
            <div class="messagebody">@message.Text</div>
            <div class="messagetime">@message.Time.ToLocalTime()</div>
        </div>
    }
</div>