html {
  font-size: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@200;300&display=swap');

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.moviecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movieitem {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 18px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #c9c9c7;
    width: 30%;
    transition: 0.25s;
    cursor:pointer;
}

.movieitem img {
    align-self: center;
    width: 100%;
    border-radius: 20px;
}

    .movieitem:hover {
        transform: scale(1.025);
        box-shadow: 0px 10px 20px #d4d4d4;
    }

.title {
    font-family: 'Chivo', sans-serif;
    padding: 10px 0px;
    font-size: 1.7rem;
    font-weight: 300;
}

.year-pr {
    font-family: 'Chivo', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    color: #878786;
    display: flex;
    justify-content: space-between;
}

.detailscontainer {
    display: flex;
}

.detailsleft {
    width: 60%;
    padding: 20px;
    font-family: 'Chivo', sans-serif;
    display: flex;
    flex-direction: column;
}

.detailsleft h2 {
    padding-bottom: 20px;
}

.detailsright {
    width: 40%;
    padding: 20px
}
.detailsright img {
    width: 100%;
    border-radius: 20px;
}

.detailsbuttons {
    display: flex;
    padding: 20px;
    justify-content:space-evenly;
}

    .detailsbuttons a {
        padding: 13px 35px;
        border-radius: 20px;
        font-family: 'Chivo', sans-serif;
        font-size: 1.2rem;
        background-color: #d1d1cf;
        transition: 0.3s;
        text-decoration: none;
        color: black;
    }

.delete:hover {
    background-color: #d14d5b;
    color: white;
}

.edit:hover {
    background-color: #73d160;
    color: white;
}



.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
}

    .coolinput label.text {
        font-size: 0.75rem;
        color: #818CF8;
        font-weight: 700;
        position: relative;
        top: 0.5rem;
        margin: 0 0 0 7px;
        padding: 0 3px;
        background: white;
        width: fit-content;
    }

    .coolinput .input {
        padding: 11px 10px;
        font-size: 0.75rem;
        border: 2px #818CF8 solid;
        border-radius: 5px;
        background: white;
    }

        .coolinput .input:focus {
            outline: none;
        }

.starsinput {
    display:flex;
    align-items: center;
    padding: 10px 0;
}

.stars {
    background-color: #818CF8;
    margin-left: 15px;
}


.createbutton {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: #c9c9c7 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

    .createbutton:hover {
        letter-spacing: 3px;
        background-color: #818CF8;
        color: hsl(0, 0%, 100%);
        box-shadow: #818CF8 0px 7px 29px 0px;
    }

    .createbutton:active {
        letter-spacing: 3px;
        background-color: hsl(261deg 80% 48%);
        color: hsl(0, 0%, 100%);
        box-shadow: #818CF8 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }

.imageinput {
    padding: 15px 0;
}

.deleteaccept h4 {
    padding-bottom: 20px;
}

.deleteacceptform {
    padding-top: 20px;
}

.backtolist {
    padding: 10px 20px;
    border-radius: 7px;
    font-family: 'Chivo', sans-serif;
    font-size: 1rem;
    background-color: #d1d1cf;
    transition: 0.3s;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

    .backtolist:hover {
        background-color: #73d160;
        color: white;
    }