@model Message

<h2>Create Message</h2>

<form method="post" action="Create" enctype="multipart/form-data">
    <div class="coolinput">
        <label class="text" for="Text">Message</label>
        <textarea class="input" name="Text" required style="margin: 10px 0px 20px 0px; width: 400px; min-height: 350px;"></textarea>
    </div>
    <div>
        <input class="createbutton" type="submit" value="Create" />
    </div>
</form>
